/.bashrc
/.cache
/.codeium
/.config
/.gitconfig
/.idea
/.ipython
/.lightning_studio
/.lightningignore
/.python_history
/.vimrc
/.vscode
/.zcompdump
/.zsh_history
/.zshrc
/nltk_data
/.condarc
/.cursor-server
/.hushlogin
/.docker
/.jupyter
/.local
/.nvm
/.oh-my-zsh
/.profile
/.ssh
/.sudo_as_admin_successful
/.vscode-server
/.windsurf-server